@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);
@import url(https://use.typekit.net/lit8jpi.css%22);
@import url(https://fonts.googleapis.com/css2?family=Exo:wght@300;400&family=Gruppo&family=Raleway&display=swap);

.Navbar{
    padding: 0;
    margin: 0;
    top: 0;
    position: sticky;

}

.Adv_container{
    width: 100%;
    height: 37.5px;
    background-color: rgb(146, 163, 182); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.Adv_inner_container{
    width: 100%;
    height: 100%;
}
.Adv_inner_container button{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
}
.Adv_inner_container .inner_button{
    width: 430px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "muli", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.Map_container{
    width: 100%;
    height: 37.5px;
    background: #3d4a59;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Map_inner_container{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-menu{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu__link{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-family: "muli", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Nav_container{
    width: 100%;
    height: 70px;
    border-bottom: .5px solid #92a3b6;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
 
}
.Nav_inner_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-inner-logo{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-inner-logo img{
    width: 60%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit:scale-down;
}
.nav-inner-logo a{
    font-size: 35px;
    font-family: 'Exo', sans-serif;
}
.nav-user-icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.icon-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-user-icons i{
    font-size: 20px;
}
.nav-menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.Call_container{
    width: 100%;
    height: 37.5px;
    border-bottom: .5px solid #92a3b6;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    opacity:0.8;
}
.Call_inner_container{
    width: 100%;
    height: 100%;
}
.Call_inner_container button{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #3d4a59;
    font-size: 15px;
}
.Call_inner_container .inner_button{
    width: 215px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "muli", sans-serif;
    font-weight: 200;
    font-style: normal;
}
